<div class="max-w-md mx-auto">
  <h1 class="text-3xl font-semibold">Editing Task</h1>

  <div class=" rounded px-8  pt-6 pb-8 mb-4">
    <%= render 'form', task: @task %>
  </div>

  <div class="flex justify-between">
    <%= link_to 'Show', @task, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'Back', tasks_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
