<%= turbo_frame_tag "modal", class: "z-50" do %>
  <div class="fixed inset-0 flex items-center justify-center z-40">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="bg-white rounded-lg shadow-xl max-h-full w-4/5 md:w-1/2 lg:w-2/3 z-50 overflow-y-auto">
      <div class="flex justify-between items-center bg-sky-500 p-4 rounded-t-lg">
        <div class="text-white font-semibold">Messages</div>
        <button class="text-red-400" onclick="document.getElementById('modal').remove();"><i class="fas fa-times"></i></button>
      </div>
      <div class="p-4">
        <%= render partial: 'conversations/message', collection: @conversation.messages %>        
      </div>
    </div>
  </div>
<% end %>
