<div class="flex flex-wrap flex-row pl-2 items-center border-b border-gray-200 py-2">
  <div class="flex-shrink max-w-full px-2 w-3/4">
    <%= link_to notification.notifiable, turbo_frame: "_top", class: "text-blue-500" do %>
      <%= notification.description %> 
    <% end %>
    <small class="text-gray-500">
      <%= time_ago_in_words(notification.created_at) %> ago
    </small>
  </div>
</div>
