<footer class=" mt-2 py-4 lg:py-8  w-full">
<hr />
  <div class="mt-2 container mx-auto px-4">
    <div class="flex flex-col lg:flex-row justify-between items-center">
      <p class="font-bold text-white mb-4 lg:mb-0 lg:mr-6">© 2024 Exito Travel To Do App</p>
      <ul class="flex">
        <li class="mr-6"><a href="#" class="font-bold text-white hover:text-black">Privacy Policy</a></li>
        <li><a href="#" class="font-bold text-white hover:text-black">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
