<div class=" max-w-3xl mx-auto py-8 px-6 bg-gray-50 rounded-lg shadow-lg mt-2">
  
  <h1 class="text-4xl font-bold mb-8 text-center">About Me</h1>

<div class="shadow-lg border-blue-400 border-l-8 rounded p-2 mb-2">

  <div class="mb-8">
    <p class="text-lg"><strong>Name:</strong> Fernando Jose Lagos Lovo</p>
  </div>

  <div class="mb-8">
    <p class="text-lg"><strong>Bio:</strong> Computer Science Engineer specialized in data analysis. Currently working at Zamorano University, passionate about programming, and always open to learning new technologies and practices.</p>
  </div>

</div>
  <div class="mb-8">
    <p class="text-lg"><strong>Contact:</strong></p>
    <ul class="list-disc pl-6">
      <li><a href="mailto:Fernando_lagos00@outlook.com" class="text-blue-500 hover:underline"><i class="fas fa-envelope mr-2"></i> Fernando_lagos00@outlook.com</a></li>
      <li><a href="https://github.com/LagosTech2000" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-github mr-2"></i> LagosTech2000</a></li>
      <li><a href="https://www.linkedin.com/in/fernando-lagos-407348213/" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-linkedin mr-2"></i> Fernando Lagos</a></li>
    </ul>
  </div>
</div>
