  <h1 class="text-4xl font-bold mb-6 text-center">About Me</h1>
<div class="max-w-2xl mx-auto py-8 px-4 bg-white rounded mt-3">

  <div class="mb-8">
    <p class="text-lg"><strong>Name:</strong> Fernando Jose Lagos Lovo</p>
  </div>

  <div class="mb-8">
    <p class="text-lg"><strong>Bio: </strong>Computer Science Engineer specialized in data analysis. Currently working at Zamorano University, passionate for programming and always open to learn new technologies and practices.

    <div class="mb-8">
    <p class="text-lg"><strong>Contact:</strong></p>
    <br />
    <ul class="list-disc pl-6">
<li><a href="mailto:Fernando_lagos00@outlook.com" class="text-blue-500"><i class="text-black fas fa-envelope"></i> Fernando_lagos00@outlook.com</a></li>
<li><a href="https://github.com/LagosTech2000" target="_blank" class="text-blue-500"><i class="text-black fab fa-github"></i> LagosTech2000</a></li>
<li><a href="#" target="_blank" class="text-blue-500"><i class="text-black fab fa-linkedin"></i> Your LinkedIn Profile</a></li>

    </ul>
  </div>
</div>
