<div class="flex flex-wrap flex-row pl-2 items-center border-b border-gray-200 py-2">
  <div class="flex-shrink max-w-full px-2 w-3/4">

  <p><strong><%= message.user.email %></strong></p>
  <p><%= message.content %></p>
    <small class="text-gray-500">
      <%= time_ago_in_words(message.created_at) %> ago
    </small>
  </div>
  <%= link_to modal_conversation_path(message.conversation.id) , turbo_frame: '_top' ,format: :turbo_stream, data: { turbo_stream: 'modal' } , class: "bg-green-500 rounded-full hover:bg-yellow-400 text-white font-semibold px-2 rounded focus:outline-none" do %>
  <i class="fas fa-eye">
  </i>
  <% end %>
  
</div>