<div id="my-alert" class="bg-blue-50 dark:bg-gray-800 dark:text-blue-400 rounded border-blue-500 text-blue-700 p-4 py-3 rounded relative mb-6" role="alert" data-controller="alert">
  <span class="block sm:inline"><strong><%= notice %></strong></span>
  <button data-action="click->alert#close" class="text-xl absolute top-0 right-0 mt-2 mr-4 text-blue-700 hover:text-blue-500 focus:bg-blue" aria-label="Close">
    <span class="text-red-500" aria-hidden="true">&times;</span>
  </button>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    const closeButton = document.querySelector('[data-controller="alert"] button[data-action="click->alert#close"]');

    if (closeButton) {
      closeButton.addEventListener('click', function() {
        const alert = document.getElementById('my-alert');
        alert.remove();
      });
    }
  });
</script>
